body {
  background: url(../images/wood.jpg);
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
}

.btn-primary {
  margin: 3px;
}

.cssPFix {
  margin-left: 100px;
  font-weight: bold;
}

.gif {
  width: 250px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

#jumboBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

#food-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background: url(../images/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}