body {
  background: url(../images/wood.jpg);
  
}

.topBtn {
  margin: 3px;
}

#jumboBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background: url(../images/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}